---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";
import BlogBase from "./BlogBase.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<style>
	hr {
		border-top: 1px solid #ddd;
		margin: 1rem 0;
	}

	.tags {
		display: flex;
	}

	.tags :global(a) {
		margin-right: 8px;
	}

	.last-updated-on {
		font-style: italic;
	}
</style>
<BlogBase title={title} description={description}>
	<article>
		<h1 class="text-title text-2rem my-1">{title}</h1>
		<div class="tags">
			{tags.map(tag => <Tag tag={tag}/>)}
		</div>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<slot />
	</article>
</BlogBase>
